.card{
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%;
    
}
.trail-image{
    
    margin-right: 20px;
    padding: 20px;
    flex: 20%; 
    
}
.card-image{
    margin-right: 20px;
    padding: 20px;
    flex: 20%;

}

.card-details{
    flex: 30%;
    display: inline-block;
    padding: 20px;
}
.map{
    display: block;
    padding: 20px;
    
    
}
button{
    display: inline;
}

.container{
    display: flex;
    width: 40%;
    padding: 20px;
  
}

