
<app-nav-bar></app-nav-bar>
<div class="container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Welcome {{username}}</mat-card-title>
                
            </mat-card-header>
            <mat-card-content>
                <div class="login-container">
                    <div class="login-fields">
                       <h1>Congratulation !!</h1>
                          <p>You have successfully logged in</p>
                    </div>
                    <div>
                        <img src="./assets/welcome-home.png" alt="">
                    </div>
                </div>
            </mat-card-content>

        </mat-card>
        <google-map></google-map>


</div>