
<app-nav-bar></app-nav-bar>
<div class="container">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Welcome {{username}}</mat-card-title>
                
            </mat-card-header>
            <mat-card-content>
                <div class="login-container">
                    <div class="login-fields">
                       <h1>TRAILS&FUN</h1>
                       <h2>Find your next adventure</h2>
                          
                    </div>
                    <div class="image" >
                        <img src="https://media.istockphoto.com/photos/family-with-two-kids-hiking-in-mountains-picture-id507246830?k=6&m=507246830&s=170667a&w=0&h=FOTTbedfbRLxCNIzuXEhN9g8tknZqEZ2o3q9IdJ--V4=" alt="">
                    </div>
                </div>
            </mat-card-content>

        </mat-card>
        


</div>