<div class="container">

    <mat-card class="card">
    <form ngSubmit="onSubmit()" [formGroup]="placeForm">
        <mat-card-header>
            <mat-card-title>Add place:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div class="form-group">
            <p class="input-label">Name:</p>
            <input type="text" class="form-control" id="placeName" formControlName="placeName">
        </div>

        <div class="form-group">
            <p class="input-label"> Category:     </p>
           
            <input type="text" class="form-control" id="placeCategory" formControlName="placeCategory">
        </div>

        <div class="form-group">
            <p class="input-label">ImageUrl:</p>
            <input type="text" class="form-control" id="placeImage" formControlName="placeImage">
        </div>
        <div class="form-group">
            <p class="input-label">Address:</p>
            <input type="text" class="form-control" id="placeLocation" formControlName="placeAddress">
        </div>
        <div class="form-group">
            <p class="input-label">Region:</p>
            <input type="text" class="form-control" id="placeLocation" formControlName="placeregion">
        </div>
        <div class="form-group">
            <p class="input-label">Latitude:</p>
            <input type="text" class="form-control" id="placeLatitude" formControlName="placeLatitude">
        </div>
        <div class="form-group">
            <p class="input-label">Longitude:</p>
            <input type="text" class="form-control" id="placeLongitude" formControlName="placeLongitude">
        </div>

        <div class="form-group">
            <p class="input-label">Description:</p>
            <input type="text" class="form-control" id="placeDescription" formControlName="placeDescription">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </mat-card-content>
    </form>
    </mat-card>
</div>
