.item{
    color: cornflowerblue;
       font-size: 1em;
       font-weight: bold;
       margin: 0 20px;
 }
 .item:hover{
   color: greenyellow;
   background-color: cornflowerblue;
 }


 .warn{
   background-color: greenyellow;
   color: cornflowerblue;
   margin-left: 1%;
 }
  .warn:hover{
     background-color: black;
     color: greenyellow;
   }


   .addbar{
       background-color: greenyellow;
       color: cornflowerblue;
       margin-left: 40%;
       margin-right: 40%;
       text-align: center;
   }

   h1{
       color: greenyellow;
       background-color: black;
       font-size: 2em;
       font-weight: bold;
       text-align: center;
       margin-bottom: 0;
       
   }
/*    .container{
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    position: absolute;
    background-image: url("https://i.pinimg.com/originals/d2/79/a3/d279a30167db83b8320fe06b56137468.jpg");
    background-size: cover;
    opacity: 0.3;

}  */