<div class="content"  *ngFor="let trail of trailsList; let i = index">

    
    <mat-card class="card" >
        <mat-card-content class="card-image">
        <img mat-card-image src={{trail.image}} class="trail-image" [alt]="trail.name">
    </mat-card-content>
           <mat-card-content class="card-details">
             <h2>{{trail.name}}</h2>
                <p>Description: {{trail.description}}</p>
                <p>Length: {{trail.length}}</p>
                <p>Difficulty: {{trail.difficulty}}</p>
                <p>Address: {{trail.address}}</p>
                <p>Region: {{trail.region}}</p>
                <p>Latitude: {{trail.latitude}}</p>
                <p>Longitude: {{trail.longitude}}</p>
           </mat-card-content>


    <div>

        <button (click)="removeTrail(trail.id!)">Delete  </button>
        <a mat-button class="title" [routerLink]="['/comments', trail.id]">COMMENTS</a>
    </div>   
    
 </mat-card> 
</div>


