
    <mat-card class="card" *ngFor="let trail of trailsList; let i = index">
        <img src={{trail.image}} class="trail-image" [alt]="trail.name">
        <span>
        <h2>Name: {{trail.name}}</h2>
        <p>Description: {{trail.description}}</p>
        <p>Length: {{trail.length}}</p>
        <p>Difficulty: {{trail.difficulty}}</p>
        <p>{{trail.address}}</p>
        <p>{{trail.region}}</p>
        <p>{{trail.latitude}}</p>
        <p>{{trail.longitude}}</p>
    </span>
        
    </mat-card>
    <button >Delete index</button>


