<div class="container">
       
    <h1>TRAILS</h1>
    <div class="addbar">
        <a mat-button class="item" color="primary" [routerLink]="['/trails']">BACK</a>
            
    </div>
</div>

<div class="container">

    <mat-card class="card">
    <form (ngSubmit)="onSubmit()" [formGroup]="trailForm">
        <mat-card-header>
            <mat-card-title>Add place:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="trail-container"> 
                <div class="trail-fields">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Place name</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Name">
                <mat-error *ngIf="nameInput.hasError('required') && nameInput.touched">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Lenght</mat-label>
            <input type="number" matInput formControlName="length" placeholder="Length">
            <mat-error *ngIf="lengthInput.hasError('required') && lengthInput.touched">
                Length is <strong>required</strong>
            </mat-error>
        </mat-form-field>      

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select  formControlName="difficulty" placeholder="Difficulty">
                <mat-option [value]="difficulty" *ngFor="let difficulty of this.difficultyOptions">
                    {{difficulty}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="difficultyInput.hasError('required') && regionInput.touched">
                Difficulty is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Trail address</mat-label>
            <input type="text" matInput formControlName="address" placeholder="Address">
            <mat-error *ngIf="addressInput.hasError('required') && addressInput.touched">
              Address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Event region</mat-label>
            <mat-select  formControlName="region" placeholder="Region">
                <mat-option [value]="region" *ngFor="let region of this.regionOptions">
                    {{region}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="regionInput.hasError('required') && regionInput.touched">
              Region is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Latitude</mat-label>
            <input type="number" matInput formControlName="latitude" placeholder="Latitude">
            <mat-error *ngIf="latitudeInput.touched">
              Latitude is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Longitude</mat-label>
            <input type="number" matInput formControlName="longitude" placeholder="Latitude">
            <mat-error *ngIf="longitudeInput.touched">
              Longitude is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Image Url</mat-label>
            <input type="text" matInput formControlName="image" placeholder="Image Url">
            <mat-error *ngIf="imageInput.hasError('required') && regionInput.touched">
                Image url is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Description"></textarea>
            <mat-error *ngIf="descriptionInput.hasError('required') && descriptionInput.touched">
              Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent" class="full-width" [disabled]="trailForm.invalid">SUBMIT TRAIL</button>
    </div>
          
</div>
</mat-card-content>

</form>
</mat-card>

</div>
